<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>사원 등록</h1>

<form action="/emps/new" method="post">

    <p>
        사번:
        <input type="number" name="empId">
    </p>

    <p>
        이름:
        <input type="text" name="empName">
    </p>

    <p>
        이메일:
        <input type="text" name="email">
    </p>

    <p>
        부서코드:
        <input type="text" name="deptId">
    </p>

    <p>
        직급코드:
        <input type="text" name="jobCode">
    </p>

    <p>
        급여:
        <input type="number" name="salary">
    </p>

    <p>
        입사일
        <input type="date" name="hireDate">
    </p>

    <button type="submit">등록</button>

</form>

<a href="/emps">목록으로</a>

</body>
</html>