<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.test.mapper.DeptMapper">

    <select id="findAll" resultType="com.biz.test.dto.Dept">
    SELECT
        D.DEPT_ID AS deptId,
        D.DEPT_TITLE AS deptTitle,
        D.LOCATION_ID AS locationId,
        N.NATIONAL_NAME AS nationalName,
        COUNT(E.EMP_ID) AS cnt,
        COALESCE(AVG(E.SALARY), 0) AS avg
    FROM dept D
    LEFT JOIN location L
        ON D.LOCATION_ID = L.LOCAL_CODE
    LEFT JOIN national N
        ON L.NATIONAL_CODE = N.NATIONAL_CODE
    LEFT JOIN emp E
        ON D.DEPT_ID = E.DEPT_ID
    GROUP BY
        D.DEPT_ID,
        D.DEPT_TITLE,
        D.LOCATION_ID,
        N.NATIONAL_NAME
    ORDER BY D.DEPT_ID
    </select>

    <!-- 해당 부서에 소속된 사원 수 -->
    <select id="countEmployees" resultType="int">
        SELECT COUNT(*)
        FROM emp
        WHERE DEPT_ID = #{deptId}
    </select>

    <!-- 부서 삭제 -->
    <delete id="delete">
        DELETE FROM dept
        WHERE DEPT_ID = #{deptId}
    </delete>

    <insert id="save" parameterType="com.biz.test.dto.Dept">
        INSERT INTO dept (
            DEPT_ID,
            DEPT_TITLE,
            LOCATION_ID
        )
        VALUES (
            #{deptId},
            #{deptTitle},
            #{locationId}
        )
    </insert>

</mapper>